body{
	background-image:url(images/Background-full_cuclist.png);
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	color:rgba(255,255,255,1.00);
}

#Logo{
	position:fixed;left:30px;top:20px;
	
}

header{
	font-size:18px;
}

#menu
{
	font-size:24px;
}

A {
    text-decoration: none; /* Убирает подчеркивание для ссылок */
	color:rgba(255,255,255,1.00);
} 

A:hover { 
    text-decoration: underline; /* Добавляем подчеркивание при наведении курсора на ссылку */
    color: red; /* Ссылка красного цвета */
} 

ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
	position:fixed; left:400px; top:10px;height:15px;
	font-size:18px;
	background-color:transparent;	
}
ul:after {
    display: block;
    content: ' ';
    clear: both;
    float: none;
}
ul.menu > li {
    float: left;
    position: relative;
}
ul.menu > li > a {
    display: block;
    padding: 10px;
    color: white;

    text-decoration: none;
}
ul.menu > li > a:hover {
    background-color: black;
}
ul.submenu {
    display: none;
    position: absolute;
	width: 150px;
    top: 30px;
    left: 0;
    background-color: white;    
}
ul.submenu > li {
    display: block;
}
ul.submenu > li > a {
    display: block;
    padding: 5px;
    color: white;
    background-color: black;
    text-decoration: none;
}
ul.submenu > li > a:hover {
    text-decoration: underline;
}

ul.menu > li:hover > ul.submenu {
    display: block;	
}

#container{
	position: absolute;
	    top: 125px;
    }

#order{
	position:relative;
	top:300px;
	
}